* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;

}
body{
  background: paleturquoise;
}
li {
  list-style-type: none;
}
h2{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

